.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  color: var(--main-color);
  font-variation-settings: 'wgth' var(--font-weight_text);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: grid;
  grid-template-columns: minmax(375px, 700px);
  justify-content: center;
}

.header {
  display: grid;
  align-content: end;
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  background-color: var(--background-color);
  margin-block-start: 100px;
  margin-block-end: 100px;
  border: 2px solid var(--main-color);
}

.header_logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 1;
  margin: 136px auto 0;
  font-weight: inherit;
}

.header_title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin: 20px auto 0;
  font-weight: inherit;
  text-transform: uppercase;
  line-height: 1;
}

.header__theme-menu {
  margin: 25px auto;
}

.theme-menu__list {
  display: flex;
  gap: 9px;
  flex-direction: column;
  padding-inline-start: 20px;
}

.theme-menu__item {
  position: relative;
}

.theme-menu__button {
  position: relative;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
}

.theme-menu__button:disabled {
  opacity: 60%;
  pointer-events: none;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 60%;
}

.theme-menu__button:hover {
  animation: opacity 0.3s ease forwards;
}

.theme-menu__button:disabled::before {
  position: absolute;
  content: "▶";
  inset-inline-start: -10px;
  animation: arrow 0.5s infinite ease-in-out reverse;
}

.button-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  inset-inline-start: 0;
  background-color: currentColor;
  transition: 0.5s ease-in-out;
  transform: scaleX(0); 
  transform-origin: left;
}

.theme-menu__button::after {
  inset-block-end: -2px;
  height: 1px;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
}

.card_title {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 21.78px;
  font-variation-settings: 'wgth' var(--font-weight_title);
  padding: 3px 50px 3px 10px;
  min-height: 31px;
}

.card_picture_with_mark {
  position: relative;
}

.watermark {
  position: absolute;
  z-index: 1;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  color: var(--main-color);
  text-shadow: -1px 0 var(--shadow-watermark_color), 0 1px var(--shadow-watermark_color), 1px 0 var(--shadow-watermark_color), 0 -1px var(--shadow-watermark_color);
  opacity: 50%;
  background-blend-mode: hard-light;
}

@supports((text-stroke: var(--shadow-watermark_color)) or (-webkit-text-stroke: 1px var(--shadow-watermark_color))) {
  .watermark {
      -webkit-text-stroke: 1px var(--shadow-watermark_color);
      text-stroke: 1px var(--shadow-watermark_color);
      text-shadow: none;
  }
} 

.card_picture {
  width: 100%;
}

.card_content {
  display: flex;
  gap: 25px;
  flex-direction: column;
  padding: 25px;
  line-height: 21px;
}

.card_text {
  display: flex;
  gap: 27px;
  flex-direction: column;
}

.card_buttons {
  justify-self: end;
  align-self: end;
  height: 38px;
  display: flex;
  justify-content: space-between;
}

.card__icon-button {
  outline: none;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--main-color);
}

.card__like-button {
  position: relative;
  width: 130px;
  border: 2px solid var(--main-color);
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  color: var(--main-color);
}

.card__like-button::after {
  inset-block-end: 0;
  height: 100%;
}

.card__like-button:hover::after {
  transform: scaleX(1);
}

.button__text {
  font-size: 14px;
  position: relative;
  z-index: 1;
  color: var(--button-text_color);
  mix-blend-mode: difference;
}

.card__like-button:focus-visible {
  outline: none;
  border: 2px solid var(--main-color);
  animation: shadow 0.3s ease forwards;
}

.footer {
  justify-self: center;
}

.footer_button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: var(--background-color);
  margin-block-start: 50px;
  margin-block-end: 103px;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  font-weight: 400;
  width: 335px;
  height: 55px;
  border: 2px solid var(--main-color);
}

.footer_button:focus-visible {
  outline: none;
  animation: shadow 0.3s ease forwards;
}

.footer_button::after {
  inset-block-end: 0;
  height: 100%;
}

.footer_button:hover::after {
  transform: scaleX(1);
}

.footer_floppy {
  width: 21px;
  height: 21px;
  position: relative;
  z-index: 1;
  color: var(--button-text_color);
  mix-blend-mode: difference;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 357px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  background-color: var(--background-color);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  font-weight: 400;
  padding: 30px;
  text-transform: uppercase;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog_title {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 20px;
  line-height: 21px;
  font-weight: inherit;
}

.dialog_floppy {
  width: 39px;
  height: 39px;
}

.dialog_button {
  position: relative;
  width: 100%;
  height: 38px;
  border: 2px solid var(--main-color);
  text-transform: uppercase;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.dialog_button::after {
  inset-block-end: 0;
  height: 100%;
}

.dialog_button:hover::after {
  transform: scaleX(1);
}

.dialog_button:focus-visible {
  outline: none;
  border: 2px solid var(--main-color);
  animation: shadow 0.3s ease forwards;
}

@media (width < 376px) {

  .header_logo {
    margin: 120px auto 0;
  }

  .card_title {
    padding: 3px 50px 6px 10px;
  }

  .card_text {
    padding-inline-end: 3px;
  }

  .footer_button {
    flex-direction: column;
    margin-block-start: 52px;
    margin-block-end: 100px;
    width: 306px;
    height: 80px;
  }

  .footer_floppy {
    width: 28px;
    height: 28px;
  }

  .watermark {
    inset-inline-end: 13px;
  }
}

.filter-bright {
  filter: brightness(200%);
}

.filter-contrast {
  filter: contrast(50%);
}

.filter-blur {
  filter: blur(0.1rem);
}

.filter-opacity {
  filter: opacity(0.8);
}

.filter-grayscale {
  filter: grayscale(0.6);
}

.filter-saturate {
  filter: saturate(70%);
}

.filter-mix {
  filter: invert(1) hue-rotate(180deg);
}